* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.main {
    width: 100%;
    height: 100%;
    border: 1px solid red;
    display: flex;

}


nav {
    width: 400px;
    height: 60px;
    border: 1px solid blue;
    border-bottom: none;
}

.chatsHeader {
    width: 100%;
    height: 60px;
    border: 1px solid blue;
}


.contactDiv {
    width: 400px;
    height: 100%;
    border: 1px solid blue;
}


.chatsDiv {
    width: calc(100% - 400px);
    height: 100%;
    border: 1px solid blue;
}


.contactBox {
    width: 100%;
    height: calc(100% - 60px);
    border: 1px solid rgb(255, 0, 0);
    padding: 20px 15px 0 15px;
}


.contact {
    width: 100%;
    height: 70px;
    /* border: 1px solid rgb(187, 0, 255); */
    margin: 4px 0;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.contact:hover{
    background-color: #f4f4f4;
}

.selectContact {
    background-color: #e1e1e1;
}

.profilePicForContactBox {
    /* border: 1px solid rgb(187, 0, 255); */
    width: 53px;
    height: 53px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.profilePicForContactBox img {
    width: 53px;
    height: 53px;
    border-radius: 50%;
}

.userDetailsForContactBox {
    /* border: 1px solid rgb(187, 0, 255); */
    width: 270px;
    /* height: 40px; */
}

.contactNameAndTime {
    /* border: 1px solid rgb(38, 255, 0); */
    width: 270px;
    display: flex;
}

.lastChat {
    /* border: 1px solid rgb(38, 255, 0); */
    width: 270px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(48, 48, 48);
}


.userNameForContactBox {
    /* border: 1px solid rgb(0, 183, 255); */
    width: calc(270px - 65px);
    font-size: 17px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(48, 48, 48);
}

.lastChatDateAndTime {
    /* border: 1px solid rgb(0, 183, 255); */
    width: 65px;
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(48, 48, 48);
}