nav {
    width: 400px;
    height: 60px;
    /* border: 1px solid blue; */
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: center;
        margin: 5px 0px 0px 0px;
}

.greet {
    width: 310px;
    height: 60px;
    /* border: 1px solid rgb(255, 0, 230); */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #f0f0f0;
    /* border: 1px solid rgb(255, 0, 230); */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
}

.menu {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #f0f0f0;
    /* border: 1px solid rgb(255, 0, 230); */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
}

img {
    width: 20px;
}


.hello {
    /* border: 1px solid black; */
    padding-left: 20px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgba(109, 109, 109, 0.803);
    font-weight: 600;
    font-size: 13px;
}

.userName {
    /* border: 1px solid black; */
    padding-left: 20px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgba(20, 20, 20, 0.803);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.0;
}