.sliderdiv {
    /* border: 1px solid black; */
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 0px 0px;
}

.slider {
    /* border: 1px solid green; */
    background-color: #f0f0f0;
    width: 300px;
    height: 37px;
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.silderSelect {
    color: rgba(109, 109, 109, 0.803);
    width: 100px;
    height: 37px;
    border-radius: 35px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.select {
    background-color: #8980AF;
    color: rgb(246, 246, 246);
}