.contactBox {
    width: 100%;
    height: calc(100% - 120px);
    /* border: 1px solid rgb(255, 0, 0); */
    padding: 20px 15px 0 15px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.contactBox::-webkit-scrollbar {
    display: none;
}

.contact {
    width: 100%;
    height: 70px;
    /* border: 1px solid rgb(187, 0, 255); */
    margin: 4px 0;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.contact:hover {
    background-color: #f4f4f4;
}

.selectContact {
    background-color: #f0f0f0;
}

.profilePicForContactBox {
    /* border: 1px solid rgb(187, 0, 255); */
    width: 53px;
    height: 53px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.profilePicForContactBox img {
    width: 53px;
    height: 53px;
    border-radius: 50%;
}

.userDetailsForContactBox {
    /* border: 1px solid rgb(187, 0, 255); */
    width: 270px;
    /* height: 40px; */
}

.contactNameAndTime {
    /* border: 1px solid rgb(38, 255, 0); */
    width: 270px;
    display: flex;
}

.lastChat {
    /* border: 1px solid rgb(38, 255, 0); */
    width: 270px;
    font-size: 13px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgba(109, 109, 109, 0.803);
    font-weight: 600;
}


.userNameForContactBox {
    /* border: 1px solid rgb(0, 183, 255); */
    width: calc(270px - 65px);
    font-size: 17px;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgb(48, 48, 48);
}

.lastChatDateAndTime {
    /* border: 1px solid rgb(0, 183, 255); */
    width: 65px;
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 13px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: rgba(109, 109, 109, 0.803);
}